body {
  text-align: center;
  background-color: #e0e0e0;
}

.page {
  margin: 10px auto;
  width: 750px;
  text-align: left;
  font-family:sans-serif;
}

a:link {
  color: #006000;
}

a:visited {
  color: #262626;
}

.header {
  padding: 0;
  height: 70px;
  background: url(./header.png) no-repeat;
}

.headerleft {
  position: absolute;
  padding: 0 0 0 70px; 
  margin: 0;
  color: #ffffff;
  background-image: url(./icon.png);
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.headerright {
  position: relative;
  float:right;
  padding: 10px 15px 0 0; 
  text-align: right;
}

.headerright * p, .headerright a, headerright form {
  margin: 0;
  padding: 0;
  font-size: 8pt;
  color: #ffffff;
}


.body {
  /* position: relative; */
  float: left;
  width: 750px;
  background-image: url(./body.png);
  background-repeat: repeat-y;
}

.menu {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  width: 98px;
  padding: 0;
  margin: 10px 0 0 8px;
  font-size: 08pt;
  
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
}

.menu * li, .menu ul {
  padding: 1px 0 1px 5px;
  margin: 0;
  list-style-type: none;
}

div.menu h2 {
  padding: 1px 1px 1px 5px;
  font-size: 10pt;
  color: #ffffff;
  background: url(./headline.png) no-repeat -5px 0px;
  border-bottom: 1px solid #000000;
  margin: 0;
}

.menu * a {
  text-decoration: none;
}

.menu * a:hover {
  padding: 0 0 0 5px;
  margin: 0;
  display: block;
  color: #000000;
  background-color: #cccccc;
}

.content {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  text-align: left;
  padding: 0 0 0 0px;
  margin: 0 0 0 10px;
  width: 620px;
}

h2 {
  color: #ffffff;
  padding: 5px 5px 5px 5px;
  margin: 10px 0 0 0; 
  background: url(./headline.png) no-repeat 0px 0px;
  border-bottom: 1px solid #000000;
}

.footer .content {
  margin: 0;
  padding: 0;
  width: 750px;
  float: left;

  color: #555555;
  font-size: 8pt;
  text-align: center;
  background: url(./footer.png) no-repeat bottom;
}

.footer {
  position: relative;
  clear: both;
  width: 750px;
  float: left;
  display: block;
  background: url(./footer.content.png) repeat-y;
}

.footer * img {
  border: 0px solid black;
}

.navigator {
  color: #8C8C8C;
  margin: 10px 0 10px 0;
  text-align: center;
}

.navigator a, input, submit, reset, textarea {
  text-decoration: none;
  font-size: 8pt;
  /*width: 12px;
  height: 12px;*/
  padding: 1px 5px 1px 5px;
  margin: 5px 0 3px 0;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
}

.navigator a:hover {
  border: 1px solid #408040;
  background-color: #00a800;
  color: #ffffff;
}

.navigator .current {
  padding: 2px 5px 2px 5px;
  margin: 0 0 0 0;
  font-size: 8pt;
  color: black;
  background-color: #B3B3B3;
  border: 1px solid #8C8C8C;
}

.navigator table {
  text-align: center;
  width: 10%;
}

.jsbutton {
  text-decoration: none;
  font-size: 8pt;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: #dddddd;
}

.tableview {
  width: 600px;
  
  border-spacing: 0;
}

.thumb {
  margin: 10px 10px 10px 10px;
  text-align: center; 
}

.preview * img {
  border: 1px solid black;
}


.tags p {
  text-align: justify;
}

td {
  width: 250px;
  vertical-align: top;
}

th {
  vertical-align: top;
  color: #262626;
  background-color: #cccccc;
  width: 0px;
}

.preview {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.name {
  font-size: 14pt;
  background-color: #dddddd;
  border-left: 10px solid #00a800;
  border-bottom: 1px solid #00a800;
  padding: 2px 0 2px 5px;
  font-weight: bold;
}

.caption {
  color: #4D4D4D;
  font-size: 10pt;
  font-style: italic;
}

.caption * td {
  padding: 0 5px 0 5px;
}

.imginfo {
  border-spacing: 0;
  border: solid 1px #dddddd;
  font-size: 8pt;
}

.imginfo * a, .tags * a {
  text-decoration: none;
}

.imginfo * a:hover, .tags * a:hover {
  text-decoration: none;
  background-color: #cccccc;
}

.acladd {
  background-color: #80ff80;
}

.aclremove {
  background-color: #ff8080;
}

.aclkeep {
  background-color: #8080ff;
}

.debug {
  position: relative;
  clear: both;
  float: left;
  font-size: 8pt;
  color: black;
  border: solid 2px #cc00ff;
  padding: 10px 30px 10px 50px;
  margin: 10px 0 10px 0;
  background: #eeeeee url(./debug.png) no-repeat 5px 5px;
}

.error {
  color: black;
  border: solid 2px #ff0000;
  padding: 10px 30px 10px 50px;
  margin: 10px 0 10px 0;
  background: #ffb09f url(./error.png) no-repeat 5px 5px;
}

.warning {
  color: black;
  border: solid 2px #ff7300;
  padding: 10px 30px 10px 50px;
  margin: 10px 0 10px 0;
  background: #ffb260 url(./warning.png) no-repeat 5px 5px;
}

.success {
  background-color: #7aff8c;
  color: black;
  border: solid 2px #008e47;
  padding: 10px 30px 10px 50px;
  margin: 10px 0 10px 0;
  background: #7aff8c url(./success.png) no-repeat 5px 5px;
}

.info{
  color: black;
  border: solid 2px #ffdc3b;
  padding: 10px 30px 10px 50px;
  margin: 10px 0 10px 0;
  background: #ffffb8 url(./info.png) no-repeat 5px 5px;
}

.question {
  color: black;
  border: solid 2px #0000ff;
  padding: 10px 30px 10px 50px;
  margin: 10px 0 10px 0;
  background: #9797ff url(./question.png) no-repeat 5px 5px;
}
