.comments {
  margin: 2em 0;
}
.comment .meta {
  border: none;
  background: none;
}

.comment {
  clear: left;
  margin: 1em auto;
  overflow: hidden;
}

.comments .even {
  background-color: #eee;
}

.comment .meta {
  padding: .5em;
  font-size: 105%;
}

.comment .meta .from {
  font-weight: bold;
}

.comment .meta .date {
  font-style: italic;
}

.comment .text {
  padding: .5em 2em; 
}

.comment .image {
  float: left;
  margin: 0 .5em .5em 0;
}

.comments form textarea {
  width: 66%;
  font-size: 120%;
}
