.thumbs  {
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}

.thumb {
  width: 95%;
}
.unselected {
  margin: 2px;
  padding: 3px;
}

.selected {
  margin: 2px;
  padding: 3px;
  background-color: #bdf;
}

.thumb h2 {
  font-size: 110%;
}

.thumb h2 img {
  vertical-align: middle;
}

.image {
  margin: 0px;
  padding: 2px 2px; 
  text-align: center;
}

.image * img {
  vertical-align: middle; 
  border: 1px solid black;
}

.mediaPreview {
  margin: 0px;
  padding: 2px 2px;
}

.user {
  text-align: center;
}

.user img {
  vertical-align: middle; 
}

.meta {
  margin: 0; 
  padding: 0;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
}

.meta * td {
  margin: 0px;
  padding: 0px;
}

.meta * a {
  text-decoration: none;
}

.meta * a:hover {
  color: white;
  background-color: #f63;
}

.meta * fieldset {
  margin: 0;
}

.paginator {
  width: 95%;
  display: block;
  color: #8C8C8C;
  margin: 10px 0;
  text-align: center;
}

.subpaginator {
  font-size: 85%;
  margin: 2px auto;
  padding: 3px;
}

.subpaginator a {
  text-decoration: none;
  padding: 2px 6px;
  margin: 3px 0;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
}

.subpaginator a:hover {
  border: 1px solid #000;
  background-color: #f63;
  color: #ffffff;
}

.subpaginator a.prev,
.subpaginator a.next {
  margin: 3px 8px;
}

.subpaginator .current {
  font-weight: bold;
  font-size: 100%;
  padding: 4px 8px;
  margin: 0 1px;
  color: white;
  background-color: #182e7a;
  border: 1px solid #000;
}

.edit {
  clear: both;
}

#mapbox {
  margin: 1em 0 1em 0;
}

#map {
  width: 100%;
  height: 350px;
  border: 1px solid #000;
}

#mapStatusLine {
  display: block;
  width: 100%;
  background-color: #ddd;
  border: 1px solid #000;
  margin: 0 4px 0 0;
  padding: 1px;
}
#mapStatusLine div {
  margin: 2px;
  padding: 2px 4px;
  border-left: 1px solid #888;
  border-right: 1px solid #fff;
  display: inline;
}
#mapSearch label,
#mapSearch input {
  margin: 0;
  padding: 0;
  float: none;
  display: inline;
}
#mapSearch label {
  margin: 0;
}

.mapContextMenu * {
  margin: 0;
  padding: 0;
}
.mapContextMenu {
  display: block;
  border: 1px solid blue;
  background-color: #eee;
}
.mapContextMenu ul {
  list-style-type: none;
}
.mapContextMenu * a {
  padding: 0 2px;
  text-decoration:none;
  display: block;
}
.mapContextMenu * a:focus {
  outline: none;
}       
.mapContextMenu * a:hover {
  background: #ddd;
}       
       
/** Patches for the menu list */
#submenu li.multi {
  margin: 0;
  padding: 3px 0 3px 10%;
  border-bottom: 1px #eee solid;
}

#submenu li.multi a {
  display: inline;
  padding: 3px 0px 3px 0px;
  border-style: none;
}

#submenu li.multi .actionlist {
  display: none;
}

.p-explorer-cell h2 {
  font-size: 10pt;
}
.p-explorer-cell {
  display: inline-block;
  width: 240px;
  height: 100%;
  position: relative;
}

.p-explorer-cell-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 240px;
  height: 220px;
}
.p-explorer-cell-image * {
  vertical-align: middle;
}
/*\*//*/
.p-explorer-cell-image {
  display: block;
}
.p-explorer-cell-image {
  display: inline-block;
  height: 100%;
  width: 1px;
}
/**/
.p-explorer-cell-caption {
  text-align: center;
  height: 12pt;
}
.p-explorer-cell-meta {
  display: block;
  width: 240px;
  border: 1px  solid #888;
  opacity: .0;
  background-color: white;
  position: absolute;
  bottom: 12pt;
}
.p-explorer-cell-meta table tbody tr td {
  margin: 0;
  padding: 0;
}
.p-explorer-cell-meta:hover {
  opacity: .9;
}
