/* Forms */
fieldset {
  margin: 5px 0 5px 0;
  background-color: white;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

fieldset legend {
  margin: 0px 0px 0em 0em;
  padding: 3px;
  font-weight: bold;
  border: 1px solid #888;
  background-color: white;
}

fieldset fieldset {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 16px 0;
}

fieldset fieldset legend {
  font-weight: normal;
  margin-left: 20px;
}
fieldset fieldset div {
  clear: left;
  margin: 0 20px;
}
form fieldset div.input {
  clear: both;
  margin-bottom: 1em;
  padding: .5em;
  vertical-align: text-top;
}
form fieldset div.input {
  color: #444;
}
form fieldset div.required {
  color: #333;
  font-weight: bold;
}
form div.submit {
  border: 0;
  clear: both;
  margin-top: 5px;
}
label {
  float: left; 
  display: block;
  width: 140px; 
  padding-right: 5px; 
  text-align: right; 
}
form fieldset div .hint {
  float: left;
  font-weight: normal;
  font-style: italic;
  padding: 0 1em;
  color: #888;
}
form fieldset div img {
  float: left;
}

input[type=text],
input[type=password],
select,
textarea {
  float:left;
  background-color: #efefef;
  border: 1px #bbb solid;
}
input[type=text]:hover,
input[type=password]:hover,
select:hover,
textarea:hover {
  border: 1px solid black;
}
input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  border: 1px solid black;
  background-color: #ffffd0;
}
select[multiple=multiple] {
  width: 100%;
}
option {
  padding: 0 3px;
}
fieldset * input[type=checkbox] {
  clear: left;
  float: left;
  margin: 0px 6px 0px 145px;
  padding: 5px;
  width: auto;
}
.checkbox label {
  float: left;
  text-align: left;
  width: auto;
}

input[type=submit] {
  color: black;
  padding: 3px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #888;
}

input[type=submit]:hover {
  color: white;
  background-color: #f63;
}

input[type=reset],
.reset {
  color: white;
  font-weight: bold;
  background-color: #182e7a;
}
.reset {
  border: 1px solid black;
  padding: 4px;
  margin: 0 3pt 0 3pt;
}

.searchBox {
  width: 100%;
}

.searchBoxSub {
  float: right;
  width: 150px;
  height: 18px;
  border: 1px solid #888;
  background: #cf9;
}

.searchBoxSub form input[type=text] {
  float: left; 
  padding: 0;
  margin: 1px 0 0 1px;
  border: 0;
  width: 132px;
  background: none;
}

.searchBoxSub form input[type=image] {
  float: right;
  margin: 1px 1px 0 0;
  background: none;
}
