#header {
  background-color: blue;
  background: #eeeeee url(images/header.png) repeat-x 0px 0px;
}

#header h1 {
  color: #fff;
}

#topnav a {
  color: #fff;
}

.actionlist {
  display: inline;
}

.actionlist a img {
  vertical-align: middle;
}

ul.bare {
  list-style-type: none;
  padding: 0;
}

/* Browser */
ul#files {
  margin: 0; 
  list-style-type: none;
}

div.disabled {
  display: inline;
  float: none;
  clear: none;
  color: #C0C0C0;
}

.auto_complete {
  position: absolute;
  width: 250px;
  background-color: white;
  border: 1px solid #888;
  margin: 0px;
  padding: 0px;
  z-index: 2;
} 
.auto_complete ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.auto_complete ul li {
  margin: 0;
  padding: 3px;
  width: 100%;
}
.auto_complete ul li.selected { 
  background-color: #ffb; 
}

