@import grid

form
  overflow: hidden
  fieldset
    border: 0
    overflow: hidden
    padding: 10px
    legend
      font-weight: bold
   
    div 
      label
        float: left
        width: 30%;
      input[type=text],
      input[type=checkbox],
      input[type=password],
      textarea
        font-size: 130%
        width: 67.8%
      select
        font-size: 130%
        width: 69.4%
