@import grid
@import gradient
@import border-radius

=default-input
  padding: 4px
  +border-radius(3px)
  border: #aaa 1px solid
  background-color: #efefef
  &:hover
    border: #999 1px solid
    background-color: #ffd
  &:focus
    border: #a00 1px solid
    background-color: #ffd

form
  overflow: hidden
  fieldset
    padding-bottom: 20px
    border: 0
    overflow: hidden
    legend
      font-weight: bold
    div
      padding: 5px 0
      display: block
      width: 100% 
      label
        display: block;
      input[type=text],
      input[type=checkbox],
      input[type=password],
      textarea
        padding-left: 30%
        font-size: 100%
        width: 50%
        +default-input
      select
        font-size: 100%
        width: 50%
        +default-input
  .submit input[type=submit]
    border: 1px solid #ddd
    +border-radius(5px)
    padding: 3px 5px
    +linear-gradient(colour-stops(#eee, darken(#eee, 20%)))
    color: #555
    +text-shadow(white, 1px, 1px)
    &:hover
      +linear-gradient(colour-stops(#ddd, darken(#ddd, 20%)))
      color: black
