@import border-radius
@import grid
@import "compass/css3/gradient"
@import text-shadow
@import box-shadow

*
  margin: 0
  padding: 0

#page
  @include container

#header 
  +column(24, true)
  @include border-bottom-radius(10px)
  background-color: $headerBackgroundColor
  +linear-gradient(colour-stops($headerBackgroundColor, darken($headerBackgroundColor, 20%)))
  border: 1px solid $headerBackgroundColor
  * 
    font-size: 120% 
    font-weight: bold
  .sub
    padding: 10px
  * a 
    +text-shadow(black, 0, 2px, 0)
    color: white
    &:hover
      color: white
      background-color: inherit
    &:visited
      color: white
      background-color: inherit

#main
  +column(24, true)
  @include border-top-radius(10px)
  background-color: $contentBackgroundColor
  #sidebar
    +column(6)
    @include border-top-left-radius(10px)
    background-color: darken($sidebarBackgroundColor, 10%)
 
  #content 
    +column(18, true)
    @include border-top-right-radius(10px)
    background-color: $contentBackgroundColor
    h1
      display: block
      width: 100%
      font-size: 120%
      padding: 10px 0
      background-color: darken($contentBackgroundColor, 20%)

#footer 
  @include border-bottom-radius(10px)
  +column(24, true)
  background-color: $footerBackgroundColor
  p
    padding: 5px

.box
  position: relative
  padding: 5px
  h1
    @include border-radius(5px)
    background-color: #eee
    +linear-gradient(colour-stops(#eee, darken(#eee, 10%)))
    color: #666
    +text-shadow(white, 1px, 0px, 0)
    border: 1px solid #bbb
    padding: 3px 12px
    
.info,
.message
  display: block
  +border-radius(5px)
  margin: 20px
  padding: 10px
  background-color: #efffd0
  +linear-gradient(colour-stops(#efffd0, darken(#ffd, 20%)))
  border: 1px solid darken(#ffd, 20%)
  +box-shadow(#cda, 2px, 2px, 1px)
