@import grid
@import border-radius
@import opacity
@import gradient

.p-navigator-pages
  width: 100%
  display: block
  margin: 3px
  > .sub
    text-align: center
    > .current, > a
      color: gray
      cursor: pointer
      padding: 3px 6px
    > a:hover
      color: white
      padding: 2px 5px
      background-color: #555
      border: 1px solid #888
      +border-radius(3px)
    > .current 
      color: white
      font-family: Ubuntu-bold

.p-explorer-cells
  +column(24, true)
  clear: both
  > .cell0, > .cell1, > .cell2
    +column(6)
  > .cell3
    +column(6, true)
  > .cell0
    clear: both
  > .p-explorer-cell
    position: relative
    &.selected > .p-explorer-cell-image
      background-color: #203c60
    h2
      font-family: Ubuntu ! important
      font-weight: normal 
      padding: 2px 2px ! important
      position: absolute
      top: 0
      z-index: 2
      margin: 0
      +opacity(.0)
      background-color: #000
    > .p-explorer-cell-image
      display: table-cell
      text-align: center
      vertical-align: middle
      width: 230px
      height: 230px
      > a
        vertical-align: middle
        > img
          vertical-align: middle   
      > *
        text-align: center
        overflow: hidden
    > .p-explorer-cell-actions
      position: absolute
      right: 2px
      top: 214px
      +opacity(0.0)
      > ul > li
        display: inline
        > a > img
          vertical-align: center
    > .p-explorer-cell-meta 
      *
        font-size: 9pt
      p
        color: #444 
        margin: 0
        padding: 0
    &:hover
      > h2
        +opacity(1.0)
      > .p-explorer-cell-actions
        +opacity(.3)
        &:hover
          +opacity(1.0)

ul.p-breadcrumb
  width: 100%
  margin: 4px 0px
  display: inline-block
  > li
    padding: 1px 3px ! important
    display: inline-block
    &.p-breadcrumb-header
      background-color: #444
      > span
        padding: 0 3px
        font-family: Ubuntu-bold
    &.p-breadcrumb-crumb
      > span
        padding-left: 3px
      > .p-breadcrumb-remove
        background-image: url("../img/button-close.png")
        background-position: center center
        background-repeat: no-repeat
        vertical-align: middle
        padding: 0 10px
        width: 15px
        > span
          display: none
    &.p-breadcrumb-input > form 
      background-color: inherit
      overflow: inherit
      width: inherit
      > div
        > input, > div
          display: inline-block
        > input
          border: 1px solid #888
          background-color: #444
        > input[type=text]
          padding: 1px
        > input[type=submit]
          &:hover

#p-explorer-menu-space
  display: block
  height: 24px
#p-explorer-menu
  +column(24, true)
  z-index: 10
  position: fixed
  background-color: #111
  &:hover
    +opacity(1.0)
  > ul 
    margin: 5px 0
    > li
      display: inline
      > a
        cursor: pointer
        border: 1px solid #111
        padding: 3px
        color: #666
      &:hover > a, &.active > a
        color: #aaa
        background-color: #444
        border: 1px solid #444
        +border-radius(3px)
      &.active > a
        padding: 3px 3px 4px 3px
        color: #ddd
        +border-bottom-radius(0px)
        border-bottom: 1px solid #444
  > #p-explorer-menu-content
    background-color: #444
    > #p-explorer-all-meta 
      padding: 10px
      > dl.search-list
        > dt
          margin-top: 4px
        > dd
          margin-bottom: 4px
        > dd > ul > li
          display: inline-block
          padding: 3px 0
          padding-right: 4px
          position: relative 
          > .tooltip-actions
            display: none
            z-index: 2
            position: absolute
            margin-top: 17px
            top: 0px 
            left: 0px
            width: 64px
            > ul 
              padding: 2px
              float: left
              background-color: #ffd
              +border-radius(4px)
              border: 1px solid darken(#ffd, 60%)
              > li
                display: inline-block
                > a > img
                  vertical-align: bottom
          &:hover 
            > a
              color: white
            > .tooltip-actions
              display: inline-block 

.p-explorer-input
  +column(24, true)
  z-index: 9
  position: fixed
  bottom: 26px
  background-color: gray

.auto_complete
  display: none
