* {
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
  color: black;
  background-color: #e0e0e0;
}

/** Generel page layout */
.page {
  display: block;
  width: 750px;
  margin: 0px auto;
  padding: 0px;
  text-align: left;
  font-family:sans-serif;
}

.header {
  float: left;
  width: 750px;
  height: 70px;
  margin: 0px;
  padding: 0px;
  background: url(./header.png) no-repeat;
}

.body {
  float: left;
  clear: both;
  width: 750px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: url(./body.png);
  background-repeat: repeat-y;
}

.menu, .bulb {
  float: left;
  width: 98px;
  padding: 0;
  margin: 10px 0 0 8px;
  font-size: 08pt;
  
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
}

.content {
  float: right;
  width: 620px;
  margin: 0px 15px 0px 0px;
  padding: 10px 0 0 0px;
  text-align: left;
}

.footer {
  display: block;
  width: 750px;
  float: left;
  position: relative; 
  background: url(./footer.content.png) repeat-y;
}

/** General element */

a {
  text-decoration: none;
}

a:link {
  color: #006000;
}

a:visited {
  color: #262626;
}

h2 {
  color: #ffffff;
  padding: 5px 5px 5px 5px;
  margin: 0px 0 0 0; 
  background: url(./headline.png) no-repeat 0px 0px;
  border-bottom: 1px solid #000000;
}

h3 {
  padding: 5px 5px 5px 0px;
  margin: 0px 0px 0px 0px; 
  border-bottom: 1px solid #000000;
}

th {
  vertical-align: top;
  color: #262626;
  background-color: #d0d0d0;
  width: 0px;
  text-align: left;
}

td {
  text-align: left;
}

ul {
  margin: 0px 0px 0px 14px;
}

input, select, submit, reset, textarea {
  text-decoration: none;
  font-size: 8pt;
  font-family:sans-serif;
  padding: 2px 5px 2px 5px;
  margin: 5px 0 3px 0;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
}

/** Detailed layout */
.logo {
  float: left;
  width: 400px;
  height: 50px;
  margin: 0px 0px 0px 0px;
  padding: 20px 0 0 70px; 
  color: #ffffff;
  background-image: url(./icon.png);
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.quicksearch {
  float:right;
  width: 250px;
  margin: 0px;
  padding: 10px 15px 0 0; 
  text-align: right;
}

.quicksearch * p, .quicksearch a, .quicksearch form {
  margin: 0px;
  padding: 0px;
  font-size: 8pt;
  color: #ffffff;
}

.menu * li, .menu ul {
  padding: 1px 0 1px 5px;
  margin: 0;
  list-style-type: none;
}

.menu * .current {
  font-weight: bold;
}

.menu h2, .bulb h2 {
  margin: 0;
  padding: 1px 1px 1px 5px;
  font-size: 10pt;
  color: #ffffff;
  background: url(./headline.png) no-repeat -5px 0px;
  border-bottom: 1px solid #000000;
}

.menu * a:hover {
  padding: 0 0 0 5px;
  margin: 0;
  display: block;
  color: #000000;
  background-color: #cccccc;
}

.bulb * h3 {
  font-size: 10pt;
  padding: 0px 0px 0px 3px;
  margin: 0px;
  border-bottom: 1px solid #000000;
}

.bulb ul {
  list-style-type:none;
  margin: 0px;
  padding: 3px;
}

.bulb * .hits {
  color: #a0a0a0;
}

.footer .content {
  display: block;
  width: 750px;
  height: 50px;
  padding: 0px;
  margin: 10px 0px 0px 0px;

  color: #555555;
  font-size: 8pt;
  text-align: center;
  background: url(./footer.png) no-repeat bottom;
}

.footer * img {
  border: 0px solid black;
}

.tab {
  display: block;
  clear: both;
  width: 100%;
  margin: 10px 0 0px 0;
  padding: 0;
  font-size: 10pt;
  background-color: #ccc;
  border: 1px solid #b3b3b3;
  border-bottom: 2px solid #b3b3b3;
}

.tab ul, .tab ul li {
  display: inline;
  margin: 0px;
  padding: 0px;
  font-size: 10pt;
  height: 10px;
}

.tab h2, .tab ul li a {
  display: inline;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 0 5px;
  border-left: 1px solid #b3b3b3;
  background: none;
  border-bottom: none;
  color: black;
}

.tab * select {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

.tab * .current {
  background: #fff;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

.tab * a:hover {
  color: #000000;
  background-color: #eee;
  border-bottom: 2px solid #d8d8d8;
}

.navigator {
  display: block;
  clear: both;
  width: 100%;
  color: #8C8C8C;
  margin: 10px 0 10px 0;
  text-align: center;
}

.navigator a {
  text-decoration: none;
  font-size: 8pt;
  padding: 2px 5px 2px 5px;
  margin: 5px 0 3px 0;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
}

.navigator a:hover {
  border: 1px solid #408040;
  background-color: #00a800;
  color: #ffffff;
}

.navigator .current {
  padding: 2px 5px 2px 5px;
  margin: 0 0 0 0;
  font-size: 8pt;
  color: black;
  background-color: #B3B3B3;
  border: 1px solid #8C8C8C;
}

.images {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.thumbcell {
  float: left;
  width: 270px;
  /*margin: 10px 10px 10px 10px;*/
  margin: 0px;
  padding: 10px;
  text-align: center; 
  vertical-align: top;
}

.name {
  font-size: 14pt;
  background-color: #dddddd;
  border-left: 10px solid #00a800;
  border-bottom: 1px solid #00a800;
  margin: 0;
  padding: 2px 0 2px 5px;
  font-weight: bold;
  text-align: left;
}

.thumb * img {
  margin: 5px 0px 0px 0px;
  padding: 0px;
  border: 1px solid black;
}

.thumb > a {
  margin: 0px;
  padding: 0px;
}

.preview {
  padding: 10px 10px 0px 10px;
  margin: 10px auto;
  text-align: center;
}

.image {
  margin: 0px auto;
  text-align: center;
}

.image .imginfo > table {
  width: 400px;
}

.image * textarea {
  width: 400px;
}

.from, .from a, .from a:visited{
  padding: 0px;
  margin: 0px;
  color: #a0a0a0;
  font-size: 8pt;
  font-style: italic;
}

.caption {
  color: #4D4D4D;
  font-size: 10pt;
  font-style: italic;
}

.caption * textarea {
  width: 100%;
}

.voting {
  margin: 5px auto;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 8pt;
}

.voting a img {
  display: inline;
  padding: 0;
  margin: 0;
  border-style: none;
}

.imginfo > table, .imginfo > form > table {
  clear: both;
  border-spacing: 0;
  border: solid 1px #dddddd;
  margin: 0;
  padding: 0;
  font-size: 8pt;
  display: block;
}

.imginfo * input, .imginfo * textarea {
  padding: 1px 3px 1px 3px;
  margin: 0;
  border: 1px solid #cccccc;
}

.imginfo * input.cell, .imginfo * textarea.cell {
  width: 200px;
}

.row2 {
  clear: both;
}

.content * .reset, .content * .submit {
  margin: 3px 5px 3px 0px;
  padding: 3px;
  border: 1px solid #cccccc;
}

.content * .submit {
  color: white;
  background: url(./headline.png) no-repeat -5px 0px;
}

.content * .reset {
  color: black;
  background-color: #cccccc;
}

.thumbcell .imginfo > table {
  width: 100%;
}

.imginfo * a, .tags * a {
  text-decoration: none;
}

.imginfo * table {
  font-size: 8pt;
}

.imginfo * td, .imginfo * th {
  padding: 1px 3px 1px 3px;
}

.imginfo * a:hover, .tags * a:hover {
  text-decoration: none;
  background-color: #cccccc;
}

.edit {
  clear: both;
  display: block;
  width: 100%;
}

.jsbutton {
  text-decoration: none;
  color: #888888;
  font-size: 8pt;
  font-style: normal;
  padding: 0px 2px 0px 2px;
  margin: 0px 3px 0px 3px;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
}

a.jsbutton:hover {
  color: #ffffff;
  background: url(./headline.png) no-repeat -5px 0px;
  border: 1px solid #000000;
}

.button a {
  text-decoration: none;
  font-size: 8pt;
  padding: 1px 5px 1px 5px;
  margin: 3px 0 3px 0;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
}

.button a:hover {
  border: 1px solid #408040;
  background-color: #00a800;
  color: #ffffff;
}

.button_disabled a {
  text-decoration: none;
  font-size: 8pt;
  padding: 1px 5px 1px 5px;
  margin: 3px 0 3px 0;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
}

.debug {
  display:block; 
  min-height: 23px;
  font-size: 8pt;
  color: black;
  margin: 10px 0 10px 0;
  padding: 10px 30px 10px 50px;
  border: solid 2px #cc00ff;
  background: #eeeeee url(./debug.png) no-repeat 5px 5px;
}

.error {
  display:block; 
  font-size: 8pt;
  min-height: 23px;
  color: black;
  margin: 10px 0 10px 0;
  padding: 10px 30px 10px 50px;
  border: solid 2px #ff0000;
  background: #ffb09f url(./error.png) no-repeat 5px 5px;
}

.warning {
  display:block; 
  min-height: 23px;
  font-size: 8pt;
  color: black;
  margin: 10px 0 10px 0;
  padding: 10px 30px 10px 50px;
  border: solid 2px #ff7300;
  background: #ffb260 url(./warning.png) no-repeat 5px 5px;
}

.success {
  display:block; 
  min-height: 23px;
  font-size: 8pt;
  color: black;
  margin: 10px 0 10px 0;
  padding: 10px 30px 10px 50px;
  border: solid 2px #008e47;
  background: #7aff8c url(./success.png) no-repeat 5px 5px;
}

.info{
  display:block; 
  min-height: 23px;
  font-size: 8pt;
  color: black;
  margin: 10px 0 10px 0;
  padding: 10px 30px 10px 50px;
  border: solid 2px #ffdc3f;
  background: #ffffb8 url(./info.png) no-repeat 5px 5px;
}

.question {
  display:block; 
  min-height: 23px;
  font-size: 8pt;
  color: black;
  margin: 10px 0 10px 0;
  padding: 10px 30px 10px 50px;
  border: solid 2px #0000ff;
  background: #9797ff url(./question.png) no-repeat 5px 5px;
}

/** Upload form  */
.add {
  display: block;
  width: 32px;
  height: 32px;
  background: url(./add.png) no-repeat;
}

.remove {
  display: block;
  width: 32px;
  height: 32px;
  background: url(./remove.png) no-repeat;
}


